[2021-02-07 21:54] thorlucas opened #7 "Remove default mappings and provide info on the README for functions"
It would be a lot nicer if you had no default mappings and just provided on the `README.md` the functions that can be mapped to. Thanks! Nice work on this plugin.

[2021-02-07 22:07] thorlucas commented on #7
Nevermind, I see now that these mappings only apply when you're within the picker!

[2021-02-07 22:07] #7 closed

[2021-02-15 09:47] pwntester opened #9 "Suggestion: add mapping to just change cwd"
Like using `g(o)` to do `:cd <project root>`

[2021-02-15 15:40] cjjlaidler commented on #9
@pwntester I'm sorry, I don't quite follow. It may just be me. Could you please explain a bit further?

[2021-02-15 16:18] pwntester commented on #9
I use you plugin (great one BTW) to quickly open files from other projects. But I have a use case where I dont want to open any particular file, I just want to change Neovim cwd for other commands to work.
My specific use case is when I open a GitHub Pull Request from [Octo.nvim](https://github.com/pwntester/octo.nvim). If I want to see the PR review comments I need to do `:Octo pr reviews` but th

[2021-02-15 22:10] cjjlaidler commented on #9
Thanks @pwntester 😊 I see what you're saying. Yes, no probs, I'll add this feature. I can see that it'll be useful.

[2021-02-16 09:09] cjjlaidler commented on #9
I've added this in. Just need to test it later tonight and then will merge.

https://github.com/nvim-telescope/telescope-project.nvim/pull/10

[2021-02-16 11:29] pwntester commented on #9
Awesome thanks!

[2021-02-17 19:40] cjjlaidler commented on #9
@pwntester not quite there, had to revert it. I'll get onto this soon. Shouldn't take long, but I have a lot on at the moment unfortunately!

[2021-02-22 21:37] claidler commented on #9
Hmm this one is proving trickier than I thought. It seems whenever telescope closes, the working directory is reverted to whatever directory you get left in. @Conni2461  do you have any idea how I could do this?

I was looking at something like this:
`project_actions.change_working_directory = function(prompt_bufnr)
  local dir = actions.get_selected_entry(prompt_bufnr).value
  vim.fn.execute("cd

[2021-02-22 21:55] Conni2461 commented on #9
I have put that into a scratch file that i had lying around :laughing:
[code]
And it seems to work. Run with `:luafile %` Am i missing something

[2021-02-22 22:09] claidler commented on #9
Thanks @Conni2461 I can see you're doing 'cd' after actions.close, so that may be where I'm going wrong 😊

[2021-03-01 21:22] claidler commented on #9
Sorry this took a while @pwntester. It should be with you in the latest update, just hit 'w' on the project. I updated the readme.

[2021-03-01 21:22] claidler commented on #9
I'm going to close this, but let me know if you have any issues!

[2021-03-01 21:22] #9 closed

[2021-03-01 21:33] pwntester commented on #9
Awesome! Thanks!

[2021-03-08 19:16] dnguyener opened #13 "Stay in prompt after selecting project"
First of all, great project!  Something I was looking for.  Is there a way to stay at the prompt after selecting a project?   I realize I can just hit "i" to go to the prompt but with file_browser that is not the case.  I would like to have it consistent.

[2021-03-08 21:17] claidler commented on #13
Thanks @dnguyener can you please explain the exact steps, as I'm not sure if I'm understanding correctly? I open the project list and whether I press, either 's' (to search in files) or 'f' (to search for files), I never have to hit 'i' to go the prompt.

[2021-03-08 23:14] dnguyener commented on #13
Claidler,

1) Open the project list.  You'll see a list of projects in the "Projects" window.  You can type whatever you want in the prompt.
2)  Select one of your projects project.  The project opens up and files are displayed in the "Results" window however you're no longer at the prompt.  I believe it's in normal mode after selecting a project?

[2021-03-09 09:03] claidler commented on #13
@dnguyener Ah you're right, if you press enter, rather than 's' or 'f', it does take you into normal mode. Yes, agreed, that's not consistent or very nice. I'll see if I can resolve this one. Thanks

[2021-03-09 09:17] Conni2461 commented on #13
If i get this correctly than this is a bug in telescope. We haven't figured out why this happens but we have a workaround for this.
We would need to make this workaround public:
https://github.com/nvim-telescope/telescope.nvim/blob/1c80a92d4027c03b65cce1fe27ef664cff77186d/lua/telescope/actions/init.lua#L199-L217

Calling this function rather than close like that `  do_close(prompt_bufnr, true)` wi

[2021-03-09 11:09] elianiva commented on #13
could also resolve this issue if we expose that function. https://github.com/nvim-telescope/telescope.nvim/issues/600

[2021-03-10 20:08] claidler commented on #13
Much appreciated @Conni2461 as always. I'll update this shortly

[2021-03-10 20:23] Conni2461 commented on #13
I would accept a PR ;)

[2021-03-10 20:48] claidler commented on #13
I can't figure this out @Conni2461 I'm not currently running any close functions here.

https://github.com/nvim-telescope/telescope-project.nvim/blob/master/lua/telescope/_extensions/project.lua#L31-L59
Here, `actions.select_default:replace(on_project_selected)` is calling `project_actions.find_project_files`

Which calls this -
https://github.com/nvim-telescope/telescope-project.nvim/blob/master/

[2021-03-10 20:55] Conni2461 commented on #13
Oh yeah you would need to call `actions._close(prompt_bufnr, true)` before running `builtin.find_files`. But `_close`/`do_close` is still local so you would need to make it part of `actions` first :) (I prefer the name `_close` more :laughing: )

Thats why i would accept a PR ;)

[2021-03-10 21:13] claidler commented on #13
Thanks @Conni2461 that would have been tough to figure out! I've set up a PR - https://github.com/nvim-telescope/telescope-project.nvim/pull/14

[2021-03-10 21:18] Conni2461 commented on #13
Oh i meant i would accept a PR in telescope that makes the `do_close` function part of `actions`, so you don't have to re implement :laughing:

[2021-03-24 18:27] hahuang65 opened #15 "Ability to list parent directories as a way to add projects?"
I've been looking for a way to declare a list of directories that contain my projects so that telescope-project can add all (git-enabled) subdirectories, instead of manually needing to add all projects?

Is there any way to do this?

[2021-03-26 09:39] claidler commented on #15
Not currently @hahuang65 but I'll add this to the roadmap

[2021-03-26 09:39] #15 closed

[2021-03-26 19:38] Conni2461 commented on #15
How about utilizing `Telescope file_browser` and `telescope-project` is able to inject a mapping in this builtin.

Interface doesn't exist yet but i thought about enabling extensions to inject mappings for a while now.

[2021-04-06 16:40] Shatur95 opened #16 "VSCode-like session management"
I would like to suggest a more advanced way of managing sessions.

Instead of displaying a list of files from a session, it would be more convenient to immediately open the last state of the session and automatically save this state on exit. The states for each session could be `.vim` or `.lua` files that contains commands to execute and stored in a user-specified folder.

What do you think about

[2021-04-07 01:39] claidler commented on #16
@Shatur95 I use https://github.com/tpope/vim-obsession for this purpose. I'm not sure if what your asking would be considered outside the scope as an extension of telescope. How would you expect it to work?

[2021-04-07 06:36] Shatur95 commented on #16
vim-obsession is a great plugin, but I can't switch between sessions using Telescope.
This plugin is also awesome, but it does not allow loading the session state, only allows switching between files.

So, I suggesting a slightly different behavior. It would be much more convenient to load the session immediately instead of selecting files. I would imagine that it works like vim-obession, but with

[2021-04-07 07:16] claidler commented on #16
I think it's a really good idea @Shatur95 and a useful feature. Also something I've considered previously. I just need to figure out how exactly to implement it, and if it will be simple enough to be useful within the scope of a telescope plugin. Maybe something like pressing 's' on a project in project selection loads a project session. But then, do I also allow users to create sessions, and do I

[2021-04-07 08:06] Shatur95 commented on #16
I would suggest to do it on `<CR>` and show list of the files on `f`.

It would be awesome.

[2021-04-07 08:19] claidler commented on #16
I think default behaviour for <CR> should be file selection still, as telescope is ultimately a plugin for searching files, however I'll add the ability to customise it in their config to allow it to be used for sessions.

[2021-04-07 09:32] Shatur95 commented on #16
I would say that Telescope is a general-purpose picker, not only for files. And in this case, it allows you to select sessions. Typically Telescope does not allow you to select something twice. But if it can be customized, it will be great :)

[2021-04-08 04:46] adgai19 opened #17 "error in creating project title for projects not having git"
Hi, while creating projects, I encountered a bug.
While creating a new project, the project name as
`fatal: not a git repository (or any of the parent directories): .git`
And as a result I am not able to switch to the project.
I am running neovim nightly on ubuntu 20.10

[2021-04-09 18:03] zetashift commented on #17
I have the same thing! I have a project that it's just a folder with a bunch of markdown files in it:

![image](https://user-images.githubusercontent.com/1857826/114222305-b3631700-996e-11eb-8cf5-c21be6a03522.png)

[2021-04-10 18:58] claidler commented on #17
Looking into this now

[2021-04-10 19:42] claidler commented on #17
Should be resolved now. Thanks for letting me know, and thanks @adgai19 for providing a quick fix. Hopefully not, but if for whatever reason you need to update your project dirs manually you can do so at `~/.local/share/nvim/telescope-projects.txt`. I'll close this for now.

[2021-04-10 19:42] #17 closed

[2021-04-10 20:10] claidler commented on #13
Hi @dnguyener I believe this should be fixed with the latest update. Sorry it took a while. I'll close it, but let me know if you're still having issues. Thanks

[2021-04-10 20:10] #13 closed

[2021-04-11 21:45] zetashift commented on #17
Thanks @adgai19 for the fix and @claidler for the amazing extension! It works now.

[2021-04-17 20:36] Shatur95 commented on #16
I decided to wrote [a separate plugin](https://github.com/Shatur95/neovim-session-manager) for this purpose.

[2021-04-17 20:36] #16 closed

[2021-04-17 22:31] davidscotson opened #21 "Order projects by last access time"
It would be nice if the projects were ordered by last access time. Then the initial order would act like the MRU lists in the startify plugin. I think that plugin uses the info from the oldfiles variable (which Telescope also provides a builtin picker for) and I assume it would be possible to use that per file information to sort the project directory list.

[2021-04-18 06:39] claidler commented on #21
@davidscotson good idea. I'll have a look into it. @Conni2461 my initial idea would be to log a timestamp in the projects file whenever a project is opened and then sort by those. Do you have any better ideas?

[2021-04-18 06:40] claidler commented on #16
@Shatur95 No probs. Feel free to put in a PR if you want to add it here also.

[2021-04-18 08:00] davidscotson opened #22 "Default and grep option doesn't always change working directory"
I'm expecting the working directory to change to the root of the project I switch to, even if I select a file within a sub-directory.

I believe it does work like this sometimes, but it also fails to happen quite a lot, and I remain with pwd set as the directory I was in before.

I think, though it seems odd, that the difference is whether I start vim initially with a directory or a file. If the f

[2021-04-18 08:14] claidler commented on #22
@davidscotson yeah I've looked into this before to some degree. I have an idea to resolve this. I'll give it a go later. Opening in telescope project by default is a great idea. I know it's something you could probably set up yourself but I will look into adding a global variable or something for this also

[2021-04-18 08:42] davidscotson commented on #22
Moving the cd command before the call to the builtin (and adding one in the case of the grep) appears to have sorted this for me.

[2021-04-18 08:44] davidscotson commented on #22
[code]

[2021-04-18 10:56] davidscotson commented on #21
I was suprised how tricky accessing MRU info in neovim was, so filed an upstream feature request about it:

https://github.com/neovim/neovim/issues/14390

[2021-04-18 13:29] claidler commented on #22
Awesome! Thanks @davidscotson That was what I was going to try. I will get onto that later

[2021-04-18 18:59] claidler commented on #22
@davidscotson should be resolved with the latest commit. Appreciate the help on this one.

[2021-04-18 18:59] #22 closed

[2021-04-19 17:28] claidler commented on #21
This is great. Thanks. I started some work locally to timestamp projects, so will continue continue down that route if nothing else.

[2021-04-25 13:03] artofnothingness opened #24 "Show project full path, and project renamings"
It would be cool to see not only top level folder of the project, but  full path too in different sections like with diagnostics
![image](https://user-images.githubusercontent.com/48126993/115994129-5efe9f00-a5de-11eb-9224-e9bb7a1e2237.png)

And sometimes your project root directory names like src. Features to set project name/rename project would be nice too

now i create such map to just edit tx

[2021-04-27 12:14] Conni2461 commented on #21
You can always check the last access time with `vim.loop.fs_stat(full_path_of_project_dir)`. It will return you a pretty big table. (https://github.com/luvit/luv/blob/master/docs.md#uvfs_statpath-callback)
I think interesting is `atime`. From `man 2 stat`:
[code]
From `man system_data_types`:
[code]

Not this is the last access to this directory from a user system wide, so probably not perfect but

[2021-04-27 18:36] claidler commented on #21
This is great, thanks again @Conni2461!

[2021-04-27 18:43] claidler commented on #24
Yes renaming projects would be good, I'll look into that one. I'm not entirely sure what you mean here - "It would be cool to see not only top level folder of the project, but full path too in different sections like with diagnostics".
You'd like to be able to add different folders within a project also?

[2021-04-29 14:10] lvim-tech opened #25 "Ignore set number"
When loading **first** file, telescope-project ignore **number, cursorcolumn, cursorline**

[2021-04-30 06:06] YaBoiBurner opened #26 "Loading extension clears telescope config"
Problem code: https://github.com/nvim-telescope/telescope-project.nvim/blob/master/lua/telescope/_extensions/project.lua#L16
[code]
Function it's calling: https://github.com/nvim-telescope/telescope.nvim/blob/master/lua/telescope/init.lua#L28-L41
[code]

`telescope.setup` is supposed to be called by the user, instead of by plugins.
Calling it *at all* will clear the user's telescope config at that

[2021-05-01 19:17] claidler commented on #26
@YaBoiBurner makes sense, thanks for bringing this up. I copied under advice from another extension as a template, so just want to clarify with @Conni2461 that it's okay to remove this, as he knows a lot more than me about Telescope.

[2021-05-01 19:40] Conni2461 commented on #26
From which extension did you copy it? Also I checked my original review and i said you should not call `setup`, because i wasn't sure what happens.
https://github.com/nvim-telescope/telescope-project.nvim/pull/1#discussion_r547332656

I would remove it

[2021-05-01 20:25] claidler commented on #26
@Conni2461 hmm, weird that I would have put that in for no reason. Good point. I'll remove it. I used the vimspector extension as  a template, so it possibly came from there. Otherwise no idea where it came from!

[2021-05-01 20:26] claidler commented on #26
I've remove this and pushed straight to master

[2021-05-01 20:26] #26 closed

[2021-05-02 11:09] artofnothingness commented on #24
I meant that when you search for a project, you only see the name of the project (by default, this is the top-level folder). It would be great if when you search for a project in telescope window, both the name of the project and the path to it are displayed.  Or may be only just full path like in doom-emacs projectile
![image](https://user-images.githubusercontent.com/48126993/116811063-f1a7bc80-

[2021-05-02 11:17] claidler commented on #21
@Conni2461 do you know what I'm doing wrong here? - https://github.com/nvim-telescope/telescope-project.nvim/compare/master...feature/sort-project-by-access-time I feel like it must be pretty close, but isn't updating for some reason

[2021-05-02 11:20] claidler commented on #24
Ah okay thanks @artofnothingness that should be a pretty simple addition. I'll look into this one

[2021-05-02 11:37] claidler commented on #24
@artofnothingness I've made a change for this one here - https://github.com/nvim-telescope/telescope-project.nvim/compare/master...feature/display-path but I'm not sure it's what everyone will want, so just holding back from merging for the time being, as it might be something worth considering as an option, rather than a default setting

[2021-05-02 16:18] artofnothingness commented on #24
@claidler
That's nice! Renamings works too.
For me these features very useful. Thanks!

[2021-05-02 20:21] claidler commented on #24
No probs @artofnothingness I've updated the master branch now, with config options for this - which you can find in the readme. I'm going to close this now, but let me know if you come across any issues :+1:

[2021-05-02 20:21] #24 closed

[2021-05-02 20:22] claidler commented on #25
@lvim-tech could you explain this issue further please?

[2021-05-06 04:40] lvim-tech commented on #25
https://user-images.githubusercontent.com/82431193/117242567-2cef0780-ae3e-11eb-869b-79dbe2436fbf.mp4

[2021-05-06 06:58] claidler commented on #25
@lvim-tech interesting. I use numbers and am not seeing that issue, so I'm unsure if it's related to the telescope project extension. I'll keep this open and see if there are any further reports of this.

[2021-05-09 08:03] Conni2461 commented on #25
Its a telescope issue and there are already half a dozen issues open :rofl:
See https://github.com/nvim-telescope/telescope.nvim/issues/62 https://github.com/nvim-telescope/telescope.nvim/issues/207 https://github.com/nvim-telescope/telescope.nvim/issues/377 https://github.com/nvim-telescope/telescope.nvim/issues/678 https://github.com/nvim-telescope/telescope.nvim/issues/822 Last one has the best

[2021-05-09 08:53] l-kershaw commented on #25
Ah, I probably should have checked to see if there was already an issue.
Half a dozen is a lot to miss 🤣

I'll have a look at it and see if I can come up with anything

[2021-05-10 06:23] lvim-tech commented on #25
@l-kershaw , thanks!

[2021-05-10 06:23] #25 closed

[2021-05-11 18:24] claidler commented on #21
@davidscotson this hopefully is resolved now with the fix @Conni2461 suggested. I think it's the best we can do at this moment in time. It may need more work, so let me know if you're still having issues and I'll reopen.

[2021-05-11 18:24] #21 closed

[2021-06-04 01:31] kdurant opened #33 "Show project path"
When entering the command `:Telescope project`, the full path of the project is displayed

[2021-06-14 21:10] TheBlob42 opened #35 "Issues with project scanner"
After updating `telescope` and  `telescope-project` the latest version today I was keen to try the new project scanning feature implemented in #34. Unfortunately I encountered the following two issues:
- I need to create `/tmp/found_projects.txt` file by hand or otherwise I experience the following error on startup. I would prefer if this file would either be created automatically or if there was

[2021-06-15 01:23] gfsd3v commented on #35
Went to the same process a few hours ago, let me know if you guys need some more infos.

[2021-06-15 03:00] harrygallagher4 commented on #35
I just manually created `/tmp/found_projects.txt` and it's working fine now.

[2021-06-15 04:15] harrygallagher4 commented on #35
My pull request fixes both of these errors and another issue I ran into after fixing them.

[2021-06-15 06:42] pidgeon777 commented on #35
I also have this problem.

[2021-06-15 06:52] #35 closed

[2021-06-15 06:53] Conni2461 commented on #35
second issue was on me because we moved util functions from telescope to plenary to make them more accessible.

[2021-06-15 07:32] ranjithshegde commented on #35
@Conni2461  I am not entirely sure if this is related. I had the same errors as above, and now with the fix I have this

`E5108: Error executing lua ...oject.nvim/lua/telescope/_extensions/project/finders.lua:10: attempt to index local 'opts' (a nil value)
`

[2021-06-17 22:10] garwil opened #39 "Customise default keys"
This is probably just my lack of understanding of how Telescope works, but is there a way to customise the default keys?

I currently have my Telescope set up with `<Esc>` bound to close in Insert mode, and I just bind `<C-whatever>` to what ever I want to do. This is fine for the other builtins/extensions that I use, but means that I can't use telescope-project, since all the bindings are for Nor

[2021-06-17 22:20] garwil commented on #33
On the current version `display_type` defaults to `minimal`, which doesn't show the full project path.

Doing this `lua require'telescope'.extensions.project.project{ display_type = 'full' }` or `:Telescope project display_type=full` will show the full path of the project.

Setting `display_type` to `minimal` in either of those examples will only show the project name.

[2021-06-19 19:48] claidler commented on #39
@garwil I'll create insert mode mappings, which are basically the same as the normal mode mappings but using <C-whatever>, hopefully that will resolve things for you?

[2021-06-19 19:52] claidler commented on #33
I'm going to close this one. Thanks @garwil

[2021-06-19 19:52] #33 closed

[2021-06-19 20:39] garwil commented on #39
Yeah, that'd be awesome, thanks!

[2021-06-19 20:40] #39 closed

[2021-06-19 20:43] claidler commented on #39
Should be updated now @garwil I've update the readme, only difference is that m is used for rename, rather than r

[2021-06-19 20:56] garwil commented on #39
I've just tested it out, it works brilliantly, thanks!

I'm just starting to learn a bit of Lua, I'd be interested to try to figure out how to pass the key mappings in from the Telescope config. If I do I'll submit a PR!

[2021-06-19 22:09] koopa1338 opened #42 "Mapping for selecting project"
The mappings in general are pretty convenient but I think it is confusing that `<CR>` is not changing to the work directory of the project but instead calls the rename action that already has a mapping.

The title of the popup clearly says `Select a Project` what imo means switching to that project context. My suggestion is to also map `<CR>` to change to the working directory of the selected proj

[2021-06-20 12:26] claidler commented on #39
Thanks @garwil that'd be great. This plugin is my only experience with lua

[2021-06-20 12:41] claidler commented on #42
@koopa1338 `<CR>` is mapped to find files within the project and should also change the working directory. It shouldn't be set to rename the project. I'll double check later to make sure a recent update hasn't caused a problem with this.

[2021-06-20 12:45] claidler commented on #42
Ah yeah it's an unwanted side effect of a recent update. It only occurs in insert mode. I'll look to fix this later on. Thanks for bringing it to my attention

[2021-06-20 12:56] claidler commented on #42
actually I've pushed a quick fix for this as I think it's a pretty major issue. Thanks again @koopa1338 should be resolved on an update

[2021-06-20 12:56] #42 closed

[2021-06-22 20:02] claidler opened #43 "Feature/Workspaces"
# Workspaces

Let's get workspaces done.

It's been on the roadmap for a while now. I would like to put some thoughts out there and get some ideas flowing.

## What is a workspace?
A workspace is a place that contains a number of a users chosen projects.

## What is the purpose of a workspace?
Sometimes a user will work on a project that contains lots of different projects. For instance, a server,

[2021-06-22 20:11] claidler commented on #43
I would really appreciate any thoughts/ideas/suggestions - related or unrelated, ordinary or insane

[2021-06-23 06:27] tami5 commented on #43
😍  Great idea @claidler . Yes, workspaces would be a powerful addition. I agree, Real-world Projects tends to grow to be made of multiple codebase. It would be nice to have them all shown with a signal hotkey, and navigated between them intuitively.

## Feedback

Is these mappings only active in the telescope picker (normal/insert?) or globally

Do you mean each workspace contains a related set of

[2021-06-23 07:40] claidler commented on #43
Hi @tami5. Thanks for this.

Good question, I think globally (insert and normal mode), as you may want to switch between workspaces at any moment.

Yes. Git repos or just standard directories, that have already been defined by the user as 'projects' within the telescope-project plugin.

This is a nice idea, and a good example of what I hoped for by opening this as a discussion. It's seems more lik

[2021-06-23 20:36] matu3ba commented on #43
Great to hear! Love the plugin so far and use it daily.

Some unclear questions for me of the proposal:

1. How is the workspace PATH defined that one changes to?
2. Would workspaces then be defined as text file `workspaces` with
[code]
with project names and paths and workspace titles being distinct?
3. How complex do you want this plugin to become? I would be against sessions to keep stuff simpl

[2021-06-24 04:28] tami5 commented on #43
Normal mode would be okay, insert mode, c-w is used often to deleted the previous word.

Idk 😆, it personally overwhelming. but yes 9 sounds the maximum number of workspaces any develop could possibly have. But again with archive feature this 9 or 20 wouldn't be limiting.

Wait so when the user click`c-1` he would launch telescope prompt with the projects in workspace 1? and yes `c-0` to show all

[2021-06-24 11:44] claidler commented on #43
Great to hear also!

I'm not sure what you mean? There isn't a workspace PATH, the individual projects have path's within the workspace's.

The projects names, paths, and workspace Id would be defined there, but the workspaces will be defined in a different text file. The projects will know what workspaces they are in. The workspace's won't know what projects they contain.

True. I'm really on the

[2021-06-24 11:58] claidler commented on #43
Good point. I'm looking to give people the opportunity to customise this. It's a real pain to figure out what's gonna work!

That's right. It just filters them by the w1, w2, w3 .. w9 text.

I would love to use this and if this was a personal project I would as it would make my life easier, but I think people would be turned away by the extra dependency, when it's doing something reasonably simple

[2021-06-25 22:57] trev-dev opened #44 "Tabstop reset after switching Projects"
I have my tabstop/shiftwidth set a certain way. The minute I switch projects with telescope-project, those settings are reset.

[2021-06-26 00:35] trev-dev commented on #44
This was not a problem with telescope, it was a problem with how the vim.opt api works. I'm sorry to have submitted this.

[2021-06-26 00:35] #44 closed

[2021-06-27 20:00] #43 closed

[2021-06-30 13:31] karb94 opened #45 "Add multiple base_dir directories"
I started to use this plugin and it's very useful. Great work!

One thing I'm missing is the ability to add multiple directories (base_dirs) where to look for projects. My personal and work projects are not under the same directory so I would like to pass a list (table) to base_dir instead of a string. Can this be done at the moment or any plan to implement it?

[2021-07-01 10:35] claidler commented on #45
That's a good point @karb94. Unfortunately you'll have to add projects outside of the base_dir, manually at the moment, but this is definitely a feature we should look into. I'll make a note of it. Thanks

[2021-07-01 14:59] karb94 commented on #45
Thanks @claidler, good to hear this will be added at some point.

I was looking at the code and I saw that projects are stored in `telescope-projects.txt` so I could manually add additional projects there. But this left me wondering why is it necessary to store the list of projects in a text file? If the use case is to add extra projects manually I would expect to add them through the extension co

[2021-07-01 19:24] claidler commented on #45
@karb94 when I said 'manually add projects', I meant using the default key mappings - go to a folder in your terminal, open neovim, open telescope-projects with ctrl+p (or whatever you've mapped it to), then enter normal mode and press 'c' (or ctrl+a from insert mode) to add a project - if you're inside a git repo, this will add the root directory as a project, if you're not it just adds the curre

[2021-07-01 20:58] karb94 commented on #45
Hey @claidler thanks a lot for the detailed answer. It turns out I completely missed the point on how the extension is designed to work so thank you for the explanation. I see now that base_dir is more of an additional way of adding projects no the main one as I originally thought. Everything makes sense now!

[2021-07-01 21:12] #45 closed

[2021-07-04 11:05] oskarskog opened #49 "[Question] project.nvim for logic?"
Hello there and thanks for this project, it helped me move back to nvim from emacs.

As I was looking at the roadmap I started wondering whether it would make sense to separate concerns a bit by creating a library, something like a project.nvim, which would provide all the business logic for managing projects as well as functioning as an API for interacting with the project file. This is pretty mu

[2021-07-04 11:34] oskarskog commented on #49
This vcs/project base library seems to be what is discussed here https://github.com/nvim-lua/wishlist/issues/6

[2021-07-04 18:25] dhananjaylatkar opened #50 "[Question] all git subdirs are not automatically added"
Hello,

I added these lines in config -
[code]
I was expecting it to add all git directories under `~/code` in project list but, nothing is happening. I don't want to add all directories manually as there are lots of them. Is there a way to solve this?

[2021-07-04 20:27] claidler commented on #50
@dhananjaylatkar can you confirm what OS you're using?

[2021-07-05 05:08] dhananjaylatkar commented on #50
@claidler I'm on macOS.
I also noticed that `find` command used in code is throwing an error.
[code]

[2021-07-05 05:22] claidler commented on #50
Ah yeah thanks @dhananjaylatkar I'm going to have a look at a PR this morning that should fix this. I'm on Linux, seems to be a Mac OS specific issue

[2021-07-05 07:49] claidler commented on #50
Okay @dhananjaylatkar it could be working now? I can't actually check as I don't have MacOS. Could you let me know either way?

[2021-07-05 08:55] dhananjaylatkar commented on #50
Hi @claidler,
Projects are not getting added. Do I have to execute any command to start listing git directories?
I don't think it's executing `git.update_git_repos()` function since `/tmp/found_projects.txt` is not present on my device.
Is my config correct?

[2021-07-05 09:57] claidler commented on #50
@dhananjaylatkar the `require('telescope').load_extension('project')` line needs to be after `require('telescope').setup`

Is that the issue? Something I noticed which was causing a problem for me.

Are you still getting the error message? If so, then just make sure you've updated the plugin also?

[2021-07-05 10:28] dhananjaylatkar commented on #50
That was it. Thanks!!

[2021-07-05 10:28] #50 closed

[2021-07-05 18:22] claidler commented on #45
Hi @karb94 this has been implemented now by another user. The readme has been updated  so please have a look there as and you will need to change your config slightly.

[2021-07-05 18:24] claidler commented on #50
Hi @dhananjaylatkar, just a heads up - a multiple base dirs feature has been added by another user. The readme has been updated, please have a look there as and you will need to change your config slightly.

[2021-07-05 18:46] claidler commented on #49
@oskarskog that's a really interesting idea. I like it a lot.

[2021-07-05 18:47] claidler commented on #49
It didn't make sense initially but as  it's grown, it makes much more sense

[2021-07-06 17:37] #49 closed

[2021-07-06 17:37] claidler commented on #49
I'm going to add this to the roadmap

[2021-07-17 09:15] ghillb opened #53 "Duplicate entries in project picker"
Hi,

I'm facing the following  bug with the project picker:

## Issue
Projects are duplicated in the project picker, once with double slash after `code` directory (see screenshot). This happens to all projects within the `code` directory

**Folder structure:**
[code]

## Screenshot
![telescope projects](https://user-images.githubusercontent.com/35503959/126032155-274b1854-df16-43ae-8594-8a7f85faf7

[2021-07-17 21:03] claidler commented on #53
@ghillb I'll have to have a look into this one. In the meantime, could you try clearing your telescope-project.txt file, which should be located at ~/.local/share/nvim (if I remember correctly)?

Then open neovim again and see if the issue is still occurring

[2021-07-18 08:27] ghillb commented on #53
I cleared `~/.local/share/nvim/telescope-projects.txt`, as you suggested, and the issue is gone, thank you!

[2021-07-18 10:09] vlcinsky opened #54 "Use Telescope `cwd` to project names"
Telescope supports parameter `cwd`.

Current `telescope-project.nvim` does not use this paramter.

# Proposal

Use value of `cwd` to limit list of projects only to those, which start with given directory.

# Example
I have projects organized in folders:
- `~/sandbox`
- `~/devel/tis`
- `~/devel/ttr`

If `cwd=~/sandbox`, only projects from this folder and subfolders shall be shown

If `cwd=~/devel/t

[2021-07-18 14:53] claidler commented on #53
No probs @ghillb I'll close this one for now as it's resolved for you, but will come back and try and figure out what happened in the first place!

[2021-07-18 14:53] #53 closed

[2021-07-18 14:57] claidler commented on #54
@vlcinsky have you tried the base_dirs option in the readme for this? It adds all of the projects in specific folders automatically and will add any new ones that get added by scanning the base_dirs each time it opens

[2021-07-18 15:09] vlcinsky commented on #54
@claidler yes I tried and it was actually motivation for this idea.

I tried to configure base_dirs - I like the concept, but for some internal reasons (fighting with LunarVim configs on my machine) it failed. But I managed to generate the  `~/.local/share/nvim/telescope-projects.txt` manually (using small python utility)  and it has 205 items. For this reason I would invite an option to filter th

[2021-07-18 19:49] claidler commented on #54
Workspaces is a feature in progress, but not ready yet. It will allow you to filter your projects by applying them to certain workspaces.

It seems like the main problem here is that base_dirs isn't working for you. If it was working, I don't imagine you'd require this? I could be wrong, but it's not a feature I'd imagine the majority of people would care for.

Something I've recently realised is

[2021-07-18 21:25] vlcinsky commented on #54
I have managed to run the project telescope with base_dirs configuration and it nicely and very quickly finds all the projects in given directories.

Anyway, my problem is, that I have a lot of projects - 205 at the moment.

As they are grouped per client, I would appreciate to filter these somehow, e.g. by root client project directory

Alternative option is to prefix project names with names fro

[2021-07-19 05:15] claidler commented on #54
@vlcinsky ah I see. This can be part of the workspaces feature I'm adding. Add entire directories to a workspace. I'll put it on the roadmap

[2021-07-19 05:15] #54 closed

[2021-07-19 09:38] vlcinsky commented on #54
@claidler very quick solution to my needs is to us full path (possibly normalized) as project title.

This way (as filter works on project titles) one can filter by directory part too, e.g. using `devtisdpoinst` to pick `dpo-magnetky-install` from `~/devel/tis/_archive` directory.

Even better would be to put a space between (workspace) directory and project name as it allows to filter using proje

[2021-07-21 08:17] reflog opened #56 "Search across projects?"
Hi! First of all - amazing plugin, thanks for your work!
I was wondering, how hard would it be to implement 'search across projects', either for file or text?

[2021-07-21 17:51] claidler commented on #56
Thanks @reflog 😊 searching across multiple projects is a great idea. I think that should be part of workspaces which is currently WIP. I'll add it to the roadmap. Workspaces will allow people to add multiple projects to a 'workspace', then people could potentially search across a workspace. I'm not sure how difficult this would be, but will discuss with the telescope guys to find out how/if we cou

[2021-07-21 17:53] reflog commented on #56
That sounds great 👍

[2021-07-22 18:41] #56 closed

[2021-07-29 21:43] nadeemkhedr opened #57 "Change <C-r> to rename instead of recent files"
Have a recommendation to map `<C-r>` in insert mode to rename project instead of recent files

I mapped esc to close telescope, so i mainly use the insert mode shortcuts, and i feel most people would wanna use rename more often instead of recent files

[2021-07-30 00:00] tami5 commented on #57
Kinda agree with that recomendation, usually, we rename stuff 😆 . I suggest supporting renaming to different directory as well.

Personally, I mapped `<space>R` to `eunuch-:Move` command. I think it is a great implementation for reference.

[2021-07-31 17:43] karb94 opened #58 "Error in packer_compiled: ...project.nvim/lua/telescope/_extensions/project/utils.lua:68: attempt to call method 'match' (a nil value)"
I get
[code]
with this config:
[code]
I don't know if my config is wrong but the error appears because the `get_project_from_path` function from `_extensions/project/utils` is being passed a `table` instead of a `string` for some reason. This error can be solved by changing `_extensions/project/utils.lua:68` to:
[code]

[2021-07-31 21:11] jens1205 commented on #58
PR https://github.com/nvim-telescope/telescope-project.nvim/pull/59 fixes this issue

[2021-07-31 22:24] karb94 commented on #58
Thank you @jens1205 for your PRs. The print statements were driving me crazy and I didn't know where they were coming from. With both PRs everything works like it's supposed to so hopefully they get merged soon

[2021-08-01 18:53] claidler commented on #58
Thanks @jens1205 I'm very happy to merge this once the plenary merge is complete

[2021-08-03 02:17] matheusfillipe opened #60 "Feature Request: Search on current project's files"
Expose the command to search files in the current project directly so that you can bind a shortcut directly to it. As I see currently you have to invoke the menu, find the current project again and then be able to search on its files.

[2021-08-03 08:00] Conni2461 commented on #58
Merged the pr that fixed that issue. Closing for now

[2021-08-03 08:00] #58 closed

[2021-08-05 19:52] danielnehrig commented on #60
also a option to disable the find files search instantly after the project has been selected

[2021-08-12 10:18] matu3ba opened #61 "Feature Request: Equivalent of `:lcd path_to_project` and "no(l)cd" (improve documentation)"
1. The behavior of how `cwd` is changed is underspecified. Neovim offers 1. `:cd` and 2. `:lcd` to change paths. But one could also think of 3. not changing the path for only opening the file [ie to compare stuff].
2. I think even changing the default to `:lcd` would be more optimal, to run things in the script or `:e pathtofile` on the correct project folder

**use cases**
- My [simple project fo

[2021-08-12 20:15] matheusfillipe commented on #60
@matu3ba When you are editing a big project sometimes `:Telescope find_files` will only list files under your current working directory. This plugin always has the feature to fuzzy search over files of the current project regardless of the current working directory. The problem is that it only exposes one command that I can bind to (`:lua require'telescope'.extensions.project.project{}<cr>`) unles

[2021-08-13 12:27] matu3ba commented on #60
Ah, I get it.
Instead of `require'telescope'.extensions.project.project{}<cr>` you want
`require'telescope'.extensions.project.project{}.all()<cr>`
and
`require'telescope'.extensions.project.project{}.current()<cr>`

Yes, this would help. I am planning this for running scripts (local project) vs editing scripts (all projects). But having it upstream would make things simpler.

[2021-08-14 10:03] xbc5 opened #62 "Feature request: perform fuzzy search across full path"
Currently when `display_type = 'full'`, narrowing searches doesn't consider the file path. This is useful because a file path hierarchy has useful information to locate files.

[2021-08-14 11:14] matu3ba opened #63 "Consistency: Ensuring uniqueness of project names or folder names not checked"
Ideally this would be 1. checked upon initialisation (if the user messes around with project configs and only error out [user should have backups])
and 2. upon adding projects (to fail with an error message "rename project folder pathtofolder" or asking to rename the project).

I played around in [my project](https://github.com/matu3ba/telescope-project-scripts.nvim) and came to the conclusion tha

[2021-08-19 10:46] Trid-collab opened #64 "noob question - how to set the project folder"
I am using this extension for the first time. I set up the extension and when opened the nvim in a git enabled root directory, it the telescope project opened a blank panel. After <esc> twice it exit from the projects panel and came to the normal mode in my present buffer

[2021-08-19 21:39] tami5 commented on #64
did you add something like this to your config:

[code]

[2021-08-20 06:53] Trid-collab commented on #64
Nope. I assumed that it would detect my git folders when I open nvim from within that to be the project folders

[2021-08-20 09:10] yoshida-m-3 opened #65 "How to save any subdirectory?"
I want to create a `Frontend` or` Backend` project with the following directory structure.

However, when I try to create it, a `MainProject` is created.
When I try to create it again, `Project added [path] / MainProject` is displayed and I cannot create it.

What should I do

[code]

[2021-08-20 09:47] Trid-collab commented on #64
I have realized the problem. By default when you open the telescope project it enters blank space after the prompt and then positions the cursor. So when I was pressing "c" to add my git folders it was not not working. It started working when I pressed Esc once and brought the cursor to the prompt, it worked. I am not sure if this due to my config or its how Telescope project is - in that case it

[2021-08-20 13:56] tami5 commented on #64
hmmm it sound like a bug in your config

Oh I think this is coming soon

[2021-08-24 17:30] athomasoriginal opened #66 "Search Ignored Files"
Hey there and thanks for the work on this extension!

How can we tell the find files while in project search to include git ignored files?  I see that this extension seems to use the `find_files` built-in under the hood, but it doesn't allow us to pass in additional configuration? (i'm new at lua; apologies if it can and i'm missing it).  Example of the type of arguments I would like to pass to `f

[2021-09-26 10:33] quantum-booty opened #68 "Python: Activate virtualenv in the project folder"
Sometimes in the project there is a venv folder or a .python-version file that specifies the virtualenv to be used. Is there a way of activating the virtual env when I jump to a project via Telescope projects? Otherwise this kinda defeats the purpose because I'd have to manually cd into the project directory, activate the virtual env then open nvim.

[2021-10-11 22:43] l4zygreed commented on #61
yeah, I think it's better to add option to choose between `cd`, `lcd`, `tcd` and no cd

I don't like that plugin `cd` whole nvim to selected folder

[2021-10-24 23:57] tiagovla commented on #61
I also wanted something like ``lcd`` but for a buffer scope instead of a window scope. Just an idea:

[code]

[2021-10-26 13:49] jkary opened #71 "E523: Not allowed here."
Hello,

I am consistently able to reproduce the above error.  I'm not sure if I have a bad config or missing dependency.

OS: macOS Big Sur 11.5.2

Running NeoVIM version:

NVIM v0.5.0
Build type: Release
LuaJIT 2.1.0-beta3
Compilation: clang -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -DNVIM_TS_HAS_SET_MATCH_LIMIT -O2 -DNDEBUG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99

[2021-10-27 08:01] chriztheanvill opened #72 "[Bug] Dap does not recognize launch.json"
Hi.
I am using dap, and does not recognize "vscode/launch.json" file if I use Telescope projects. But, if I load the source and try dap, it recognize "vscode/launch.json".
--(02:59:04) - (14 files: 6.3Mb)$ tree -P .
.
├── .vscode
│   ├── launch.json
├── src
├── assets
│   ├── config
│   ├── fonts
│   ├── images
│   ├── music
│   ├── scripts
│   ├── sounds
│   └── tilemaps
├── build
├── google_test

[2021-10-30 13:11] matu3ba commented on #72
Can you print your cwd?

[2021-10-30 14:03] matu3ba commented on #65
This is due to the plugin looking for the git root folder by checking upwards until a `.git` folder exists taken from plenary.
Changing this would either mean 1. complicating the plugin or 2. not providing the upwards search as "breaking change" on default, which forces users to check themself or use proper and explicit function arguments.

I think 2 would be the better option, but requires to pro

[2021-10-30 15:40] chriztheanvill commented on #72
Yes, it shows the correct path with pwd, but does not recognize the launch.json file. I asked also in the github of dap, and they told me that, project should auto reload the path.

[2021-10-30 18:21] matu3ba commented on #72
This is logically inconsistent. Probably they mean that you should reload you lua config from that path, which is abit nicer with plenary. https://www.reddit.com/r/neovim/comments/jxub94/reload_lua_config/

Can you ask them to give you a stripped down example? I did not configure this yet.

[2021-11-08 15:43] steve-lorimer opened #73 "Feature Request: auto add project for opened file to list of projects"
I'm a vim noob, so I'm not sure how to do this, but I'd like to be able to automatically add the project for an opened file to the list of projects, if it's not already there.

I assume it would be achieved by adding some `FileReadPre` autocmd.

The workflow would, I guess, be something like:

1 Get file's directory
2. Check if the file has a git root directory (`git rev-parse --show-toplevel`)
3.

[2021-11-10 22:44] matu3ba commented on #73
Its much simpler to config the plugin and place the project folders accordingly as to not deal with autocmds etc.

FileReadPre is for `:read` cmds. You probably want something with `Buf`.

[2021-11-11 10:27] matu3ba opened #75 "Request for comment: Reduce necessary keybindings to support workspaces, git worktree and scratchpad"
1. Observation: `c,d,r` are needed rarely, so reserving (+ remembering) keybindings has a negative payout.
I think it would be better to have a separate function entry and make it clear to the user that one is inside the `project editing mode`.
We need this to support editing `title`, `one workspace`, `all workspaces (with the underlying name)` for basic functionality.

Further the `project editin

[2021-11-11 10:38] matu3ba commented on #62
1. Can you be more explicit on this what information you want to extract?
2. Did you check, if telescope.nvim supports this?

[2021-11-11 10:40] skebanga commented on #73
Please could you elaborate, and perhaps show an example?

[2021-11-11 10:51] matu3ba commented on #64
No.
1. Projects store files from other projects under MIT license and remove the .git folder. This already breaks experience, because we try to always search for a .git folder until `/`. So the feature would not work as expected.
2. It is unclear what the user wants for git worktrees (it also breaks currently).
3. Automatically keeping track of unnessecary data is an antipattern, if you can not en

[2021-11-11 10:55] matu3ba commented on #61
Please try to explain your use case in [harpoon](https://github.com/ThePrimeagen/harpoon), since the plugin is more tailored to buffer navigation.

[2021-11-11 10:59] matu3ba commented on #57
FIY: I suggested a separate mode to edit the telescope-project.txt file in .local/share/nvim/telescope-project.txt in [this request for comment](https://github.com/nvim-telescope/telescope-project.nvim/issues/75).
Would be curious what you think.

[2021-11-11 11:03] matu3ba commented on #68
Usually sourcing the lspconfig or whatever actives your venv should do this for you. The problem with lua is that you need to clear the cache and then require the according file for that.

[2021-11-11 11:14] matu3ba commented on #71
Sorry, but this is a too big config. Can you bisect to a minimal plugin config?
Its easier to use git for this, ie with dotfiles. You could use [my dotfile skeleton](https://github.com/matu3ba/dotfiles_skeleton) for this.

[2021-11-11 11:18] matu3ba commented on #73
https://github.com/nvim-telescope/telescope-project.nvim#available-setup-settings
gives some examples.
You just place your folders that contain git projects, ie into `'~/dev/src3'`.

[2021-11-11 12:58] skebanga commented on #73
Ah ok, thanks!

[2021-11-11 14:54] jkary commented on #71
Hi there,

Sure.  I will update this issue once I narrow it down.

Jason

[2021-11-11 15:08] jkary commented on #71
Ok.  So this plugin seems to be causing the issue.

https://github.com/Shougo/deoplete.nvim

Can you confirm?

[2021-11-12 07:27] matu3ba commented on #71
Can you provide a minimal init.vim, so I can try it?

[2021-11-12 15:09] jkary commented on #71
Good Day,

Please find the minimal .vimrc file attached
[vimrc-broken.txt](https://github.com/nvim-telescope/telescope-project.nvim/files/7528520/vimrc-broken.txt)

Thanks
Jason

[2021-11-12 18:15] athomasoriginal commented on #66
Hey there!  I read over the suggestion crossed out and the issue linked, but I'm not sure I understand what the suggestion is.

[2021-11-12 20:13] matu3ba commented on #66
@athomasoriginal The suggestion is to use create a vim command and use fargs (see `:help f-args`).

[2021-11-17 15:21] wesleimp opened #76 "Open project in file tree"
I'd like to select a project and open it directly in my file tree (`NERDTree`) besides changing the working directory.

It could be a new keymap like `<C-t>` and configure it like:

[code]

[2021-11-18 09:54] ssipos90 opened #78 "Creating a project in a git dir"
Hello,

Where I work, our 3-part product is in a single git repo and I'd like to create different projects for each one, but when I create, it selects the git repo. How can I disable using the git repo as the project root?

Thanks

[2021-11-20 21:24] matu3ba commented on #78
This is planned to be added after the refactor for #75.
In the meantime, edit your `.local/share/nvim/telescope-project.txt`.
Please make a backup before every change.

[2021-11-20 21:26] matu3ba commented on #76
I answered to your PR in #77.

[2021-11-20 21:48] matu3ba commented on #71
jjj (down 3 lines, not sure if this is significant)
i (try to insert text) --- E523: Not allowed here

Your instructions are incomplete or not logically consistent to me:

1. The first pick of the project with backspace deletes the text in the insertion window, so there is nothing to delete.
2. jjj would insert 3 j's. Did you escape to leave insertion mode?
3. Or did you hit the second time backsp

[2021-11-20 22:43] ssipos90 commented on #78
Gracias

[2021-11-20 22:43] #78 closed

[2021-11-22 04:27] SirSilver commented on #68
You can force nvim to set $VIRTUAL_ENV for you on workspace changing, but also you need to add virtual env bin directory to $PATH.

For pipenv and poetry I use:
[code]

This also works for pylsp, but this will not work if you manipulate $PATH somewhere else, because on every virtual env changing it deletes first entry to $PATH and replace it with venv bin dir.

There might be other solutions like

[2021-11-22 08:43] tim-hilt commented on #60
Any news on this issue? I'm a convert from doom-emacs and Visual Studio Code. In Doom, I could just [hit `<Leader> p f` or `<Leader> <Leader>` to search for a file in the current project](https://github.com/hlissner/doom-emacs/tree/develop/modules/completion/ivy#jump-to-navigation). I used this all the time!

In VS Code this is covered by hitting `Ctrl-P`. The files even come up sorted according t

[2021-11-22 11:19] matu3ba commented on #60
Hey Tim, I am in the process of figuring out and communicating the intended direction to become maintainer.

There are 3 blockers on the refactor (#75) for this:
1. [ ] setting up 2 different entry points/modes with 1 for editing projects and 1 for using projects and prefix relevant functions to make clear **if they modify telescope-project.txt and telescopoe-workspaces.txt**
2. [ ] expose the pat

[2021-11-22 11:30] tim-hilt commented on #60
@matu3ba I'm not a lua-programmer at all and will have difficulties making time to implement this feature. I can't promise anything, but I'll at least take a look at the sourcecode.

[2021-11-22 11:35] matu3ba commented on #60
@tim-hilt Hey Tim, lua is fairly easy (you have 2 type of tables and functions).
I am still using this for logging:
[code]

[2021-11-25 13:11] jorgerojas26 opened #79 "[Feature Request] Fast switch to last opened project"
Like Emacs Projectile, you can SPC L [number], and switch between recently open projects.

[2021-12-02 00:22] snoblenet opened #80 "`hidden_files = true` not working?"
In my `init.lua` I have:

[code]

But when I switch to my `dotfiles` project, the files in that project that start with a dot are not visible.

Those files are definitely not git ignored.

Any thoughts about why?

Thanks for a cool tool.

I'm using:
- Mac OS X 12.1
- alacritty 0.9.0
- tmux 3.2a
- neovim 0.6.0 with no warnings in checkhealth
- latest plugin versions synced via Packer
- a minimal se

[2021-12-06 18:10] IllustratedMan-code opened #81 "Neovim Hangs when <CR> is pressed after visiting a python file inside of telescope project while coq.nvim is started."
Steps to reproduce:

Have both [COQ](https://github.com/ms-jpq/coq_nvim) and telescope projects plugin installed.
Have COQ set to autostart.
Visit a telescope project using the telescope picker.
Visit a python file.
Hit enter in insert mode.

Sister issue in COQ repository [here](https://github.com/ms-jpq/coq_nvim/issues/402)

[2021-12-08 13:01] jubnzv opened #82 "Crash when switching to a non-existent project"
When we try to switch to a non-existent project, the plugin crashes. I think it would be nice to handle such cases and display a warning message to the user.

To reproduce:
1. Open `telescope-project` and enter the name of some non-existent project:
![image](https://user-images.githubusercontent.com/12023585/145212455-20c4f4df-39e1-4f43-bac8-89053c376d11.png)
2. Press `Enter` to see the crash:
![i

[2021-12-08 13:04] jubnzv commented on #82
It seems, that we could modify the `M.get_selected_title` and `M.get_selected_path` functions from `actions.lua` to make them return an optional value if there is no such project.

[2021-12-10 03:14] bryant-the-coder opened #83 "It doesn't work on windows"
[code]
![image](https://user-images.githubusercontent.com/92417638/145511240-8f09c83a-d862-4df8-9c9e-87590113f116.png)
this is strange

[2022-01-02 07:09] tristone13th commented on #83
project not projects

[2022-01-02 08:30] bryant-the-coder commented on #83
still cant...

[2022-01-02 08:33] tristone13th commented on #83
Maybe you should try expanding the $APPDATA yourself?

[2022-01-02 08:38] bryant-the-coder commented on #83
O.o

[2022-01-02 08:38] bryant-the-coder commented on #83
can i lazyload it??

[2022-01-02 08:41] tristone13th commented on #83
I think it depends on which plugin manager you are using, as far as I know, Packer.nvim can lazy load any plugins when a specific event occurs.

[2022-01-02 12:28] bryant-the-coder commented on #83
how? i m using packer

[2022-01-02 12:30] tristone13th commented on #83
Check the README, it has a lot of demonstrations, basically put the plugins under opt rather than start then load it when need.

[2022-01-02 12:44] tristone13th opened #84 "How to remap key bindings?"

[2022-01-02 12:57] bryant-the-coder commented on #83
i mean for this plugin...

[2022-01-04 15:33] IllustratedMan-code commented on #81
looks like this is not telescope related after all. Closing

[2022-01-04 15:33] #81 closed

[2022-01-07 05:18] hahuang65 opened #85 "Starting nvim with telescope project doesn't properly show the file picker after choosing a project"
If you start nvim like so:

[code]

The project picker looks fine:
![grim_01_06_22-21_16_51](https://user-images.githubusercontent.com/280972/148495603-b0baf4cd-5804-4df8-8adb-bdc5b40082a0.png)

But once you pick project, the file picker is busted:
![grim_01_06_22-21_17_05](https://user-images.githubusercontent.com/280972/148495632-3eb7a212-46b0-49ca-b1ab-c09d9308ea8d.png)

But you are able to typ

[2022-01-08 05:57] embeddedpenguin commented on #64
Forgive me if I'm wrong, but isn't this an extension of the existing https://github.com/ahmedkhalf/project.nvim? So shouldn't the patterns assigned in the config for project_nvim also work for the telescope-project extension? I guess I'm just confused on the relation between these two projects. I'm trying to figure out how to configure projects so they can find the root dir based on things other t

[2022-01-09 05:51] matu3ba commented on #64
No, the project was a fork of this project.
Personally I think not generating the data in a semi-automated way from cli is more cumbersome and the data format should be a csv for easier usage and integration of third party tools.

After having worked with this plugin for a while and thought about the design and possible user-extensibility,
I think it is an anti-pattern to let a plugin control file

[2022-01-12 19:04] danymat commented on #13
Hello, it feels like the issue is still here, can you check again ? I experience it on latest version

[2022-01-12 19:07] fdschmidt93 commented on #13
I'm not using `telescope-project` but if it follows "Open Project finder" and then "some other finder" it probably is more a telescope upstream problem related to prompt buffers

https://github.com/nvim-telescope/telescope.nvim/pull/1600 hopefully fixes that eventually

[2022-01-14 10:19] maxmahlke commented on #61
+1 for having an option to choose between `:cd` and `:lcd`, I like to have one tab per project and using `cd` when switching to another project in a new tab messes up the paths in all other project tabs.

[2022-01-15 05:26] karlredman commented on #64
@matu3ba,
Just wanted to add a correction here:
I want to point out that project.nvim is not a fork telescope-project.nvim however. project.nvim is a successor to lsp-rooter.nvim.

I also want to add that, in my experience, project management utilities that try to over automate their functionality tend to become cumbersome when trying to mitigate use cases that are outside of said automation. I'm

[2022-01-19 07:24] renerocksai commented on #13
In my plugin, I was able to resolve nested picker issues by:

[code]

[2022-01-21 22:28] tiagovla commented on #13
I can confirm that changing this line https://github.com/nvim-telescope/telescope-project.nvim/blob/ad33c9eb67de635ded67069af7552d5162497b1e/lua/telescope/_extensions/project/actions.lua#L104 to
[code]
fixes it.

[2022-02-13 07:35] venzen commented on #24
@claidler  The addition of the `display_type` option makes the picker more useful for me. Is there a way to apply the `"full"` option to all instances of the project picker? e.g. when calling `:Telescope project`

[2022-02-13 09:51] venzen commented on #16
Second this notion. Having the ability to define projects is great. Yet, once the directory location and files are reinstated, the session state of the last time I worked on that project is the logical next step.

[2022-02-23 20:39] kmerfeld opened #89 "How would I make a binding to a specific action?"
How would I bind something to "search inside files within your project"

I tried using `nnoremap <leader>/ <cmd>Telescope project<cr><c-s>`

but that doesn't seem to work

[2022-02-23 23:12] #89 closed

[2022-02-25 01:38] HwHgoo opened #90 "Project added: Unknown option -c"
`Project added: Unknow option -C` shows up when I try to create project.
![image](https://user-images.githubusercontent.com/36889966/155635969-3d3d9068-aaa4-4665-b544-03d3fa363c16.png)

And when I try to find files in the project with key `f`, `The path 'Unknown option: -C' does not exist` shows up.
![image](https://user-images.githubusercontent.com/36889966/155636493-7aafae3d-e3d1-4a29-9933-d8bcb

[2022-02-25 02:59] HwHgoo commented on #90
GIt version problem. `telescope-project` uses `git -C` which is not available in my git version 1.8*

[2022-02-25 02:59] #90 closed

[2022-02-25 15:42] rgnkn opened #91 "Slow startup"
First of all, thank you for this fantastic plugin.

I just want to mention that I found out that `telescope-project.nvim` dramatically slows down my startup time. I use packer for plugin configuration and my local figures are as follows:

`vim --startuptime` with `telescope-project.nvim`: ~ 255ms
`vim --startuptime` without `telescope-project.nvim` (simply commented out): ~ 95ms

Is there any way

[2022-03-03 22:23] BlackLight commented on #80
I can confirm the same issue on Arch Linux, package built via AUR.

The configuration is quite simple in my case:

[code]

When I type `\w` and start searching for a file in e.g. `.config` in my `dotfiles`, however, nothing shows up.

[2022-03-03 22:36] snoblenet commented on #80
BTW, above snippet shows me using `ahmedkhalf/project.nvim` but I have having this issue with `nvim-telescope/telescope-project.nvim`

[2022-03-12 04:05] lalitmee commented on #80
I can also confirm the same issue. I came to the issues tab only to file this issue, but it seems that people are already noticing it.

[2022-03-24 06:54] lalitmee commented on #91
@rgnkn, you can add `keys` and `after` prop in `packer` to lazy load this.

[2022-03-28 08:34] rakanzaidm commented on #84
unfortunately this is not supported via a config yet, you can't really configure anything like a normal telescope extensions/builtin pickers for now, but since this is a telescope extension, you can call the options when you require via command, for example
`:lua require'telescope'.extensions.project.project{ display_type = 'full', prompt_title = 'yo', attach_mappings = function(prompt_bufnr, map)

[2022-04-01 05:45] otavioschwanck opened #92 "Add command to move between opened projects"
would be awesome to have a command to switch between the opened projects.  After select the project, switch to last opened buffer of this project OR run Telescope projects.  i really miss this feature from emacs

[2022-04-05 05:02] otavioschwanck opened #93 "Create buffer previous and buffer next for current project files only"
I think this is in the workspace roadmap, but, just to confirm.

Would be nice to have an option (maybe default) to navigate by visitation history

[2022-04-07 23:05] quantum-booty commented on #68
Solved with this implementation:
https://github.com/quantum-booty/nvim/commit/3498b61354c199624c974d41cbac18ba95d0c7f0

[2022-04-07 23:05] #68 closed

[2022-04-09 16:23] l4zygreed commented on #61
still no updates to this issue? seems like it's [time to learn lua](https://youtu.be/EzWNBmjyv7Y?t=7)

[2022-04-13 15:26] aniketgm opened #95 "Search words instead of files when switching projects"
## Issue Description
Currently, after I switch to a project, the telescope's "Find Files" window pop's up to search for files in that projects, which is Great!!.
But let's say I don't know the filename at all, I know some terms/words and so instead of searching for files I want to search by words. So that's where ripgrep/live_grep comes.

And my question, is there a way or **_configuration_** to c

[2022-04-16 14:41] horseinthesky opened #96 "base_dirs are ignored after removal"
Hello. Thank you for a nice extention.

I have the following config:
[code]

First time I ran `:Telescope project` I was there three projects but after I removed them via `c-d` binding they are not shown after nvim restart anymore.

I can manually add them by cd'ing to every project dir, opening nvim add pressing `c-a`.

But how to make it respect config settings and always show every project ment

[2022-04-18 12:36] dhananjaylatkar commented on #96
It is by design (https://github.com/nvim-telescope/telescope-project.nvim/blob/master/lua/telescope/_extensions/project/actions.lua#L81=)

If you want to rebuild `telescope-projects.txt`, you can delete the file and on next restart of neovim `telescope-projects.txt` will be created using your config.

[2022-04-18 12:41] dhananjaylatkar commented on #83
It's late but you can refer to this - https://github.com/dhananjaylatkar/dotfiles/blob/master/nvim/.config/nvim/lua/plugins.lua#L60=

[2022-04-18 12:55] dhananjaylatkar commented on #80
@snoblenet are you still facing the issue?

[2022-04-18 13:24] horseinthesky commented on #96
Ah, it's in `$HOME/.local/share/nvim/telescope-projects.txt`. Ok, thank you.

[2022-04-18 13:24] #96 closed

[2022-04-20 10:37] snoblenet commented on #80
@dhananjaylatkar yes

[2022-04-21 07:18] dhananjaylatkar commented on #80
@snoblenet can you try following things?
1. Are you using `rg` or `fdfind`? If not, try installing `rg`.
2. Confirm that `telescope` is able to find hidden files using `:Telescope find_files hidden=true` in your dotfiles.
3. Try updating nvim to latest stable (v0.7).
4. If it doesn't work then try with minimal config.
[code]

[2022-04-21 23:13] snoblenet commented on #80
Thanks.

I have both `rg` and `fd` already installed.

I do not have `fdfind`.

`:Telescope find_files hidden=true` works correctly.

I could not get the minimal `init.lua` working sorry.

[2022-04-22 07:38] dhananjaylatkar commented on #80
You should load extension after you do telescope init.
In your config move `require("telescope").load_extension("projects")` after `require("telescope").setup(...)`
[code]

[2022-04-25 18:11] TeamTamoad opened #97 "Change the color of project path"
![pr-telescope-project](https://user-images.githubusercontent.com/43115371/165146266-3003281f-47ca-48a7-af33-af154e35a8ea.png)

I want to change the color of projects path from green to another color. It seems like the `Comment` highlight group is used to highlight the path now. Is there a way to change the path color without changing the color of `Comment` highlight group ?

**Environment**
Neovi

[2022-04-28 08:26] snoblenet commented on #80
That fixed it, thanks.

[2022-04-28 08:26] #80 closed

[2022-04-28 10:33] dhananjaylatkar commented on #95
Yes.
Instead of pressing `return` press `s` in normal mode or `Ctrl+s` in insert mode to invoke `live_grep` on highlighted project.

[2022-04-28 17:08] aniketgm commented on #95
Thanks a lot !! I'm just wondering why is this not in the docs / readme.

[2022-04-29 04:57] dhananjaylatkar commented on #95
It is in fact mentioned in README.md
https://github.com/nvim-telescope/telescope-project.nvim#default-mappings-normal-mode=

[2022-05-03 15:16] mandarvaze commented on #54
@vlcinsky I'm trying to use this with LunarVim. Since you mentioned you are also using LunarVim, and that you were able to get it to work, can you share your config ? More importantly where does the config go ? (which file?) I'm new to LunarVim and still getting used to.

[2022-05-10 11:16] Liverm0r opened #98 "Feature request: open all recent files immediatelly"
I want to open project with as little keybindings as possible.

Now I have to open telescope window, search for a project, then press R to show MRU, then selct one of them and press <Cr>.

I want to open telescope window, search for a project, press O and open all MRU files (or at least one of them).

[2022-05-18 04:32] zach-is-my-name opened #99 "No installation instructions?"
To some (or many) it may seem redundant to list install instructions.  When I didn't see them I got confused, as if Project was already bundled and I just needed to activate it.  But then it wouldn't be a plugin.  Searched the issues and people were indeed installing it.  Sorry if this issue is much ado about nothing...

[2022-05-22 07:14] mosheavni opened #100 "Can I open a project without a file in it?"
When I choose a project by hitting `<CR>` I'd like the project to just open on a blank file with the cwd of the project instead of having to choose a file.
How can I do that?
Thanks.

[2022-05-23 11:35] tyetyetye commented on #91
For me lazyloading with after or keys doesn't work since you have to load the extension in telescope config:

require'telescope'.load_extension('project')

If only I could open projects using something like :Telescope projects since my packer is configured thusly:

	{
		"nvim-telescope/telescope.nvim",
		config = [[require("plugins.setup.telescope")]],
		requires = {
			{
				"nvim-telescope/teles

[2022-05-31 01:08] rizkifuad commented on #61
changing this [line](https://github.com/nvim-telescope/telescope-project.nvim/blob/4658d78523a5a005af80243f1d0b4e7e2a118dae/lua/telescope/_extensions/project/utils.lua#L122) here to `lcd` works for me for the time being

[2022-06-02 11:04] Signynt commented on #99
- You have to add `use 'nvim-telescope/telescope-project.nvim'` into your `init.lua`, like this for example:

[code]

- Then you also need to have this line in the `init.lua`: `require'telescope'.load_extension('project')`
- Then you can run `PackerSync` to have it install the extension

[2022-06-09 04:29] Bekaboo opened #101 "BUG: Cannot Corretly Parse Title"
This error is at `telescope-project.nvim/lua/telescope/_extensions/project/utils.lua`, line 79:
[code]
The regex cannot correctly parse pathes ended with `/` and will throw the error: `attempt to concatenate local 'title' (a nil value)` at line 82.

[2022-06-15 21:07] Tej12345 commented on #60
any news on this one?

[2022-06-18 04:55] ccakes commented on #61
Check MR #103 which resolves this at least for me

[2022-06-30 06:19] TonyWu20 opened #105 "BUG: `git_root` will carry rgb coding sequences and fail to change to the path"
The added path is like this:
![image](https://user-images.githubusercontent.com/45414421/176606296-badcbbf9-ff88-44fe-aa9f-6157cf2b2ae0.png)
I have created a pr to fix this: #104

[2022-07-06 08:46] ranjithshegde opened #106 "Conflict with telescope-smart-history"
If using `nvim-telescope/telescope-smart-history.nvim` along with this plugin, then this plugin no longer populates the project list provided with in the `base_dirs` config option.

I havent looked too closely yet, but seems like smart-history takes over all the "history-management" of telescope and hence files like `~/.local/share/nvim/telescope-projects.txt` are no longer indexed/parsed

[2022-08-19 13:39] ckilb opened #108 "Noob question: How to create new project?"
I successfully installed Telescope & this extension. If i launch neovim i can see this:
<img width="2092" alt="Screenshot 2022-08-19 at 15 38 05" src="https://user-images.githubusercontent.com/7283097/185631046-0c804e48-efe1-41a3-9f35-c7ac3b5b9890.png">

How am I able to create a project now?
If I simply press `c` which is listed as the keyboard shortcut for creating a project nothing really happe

[2022-08-28 17:12] joaosds commented on #108
I had the same question and this is what I've found. Hope it helps you:

Apparently, it all comes down to how the extension finds the root directory of the current project. There are two ways:

1. (LSP) Via the native neovim LSP;
2. (Pattern) By finding some pattern (e.g.: a .git folder in the project directory).

You can also have both, such that the if one is not detected, the other is used as a

[2022-09-02 21:00] calvinchoy opened #109 "Change directory of terminal"
Hi,

Does anyone know whether it is possible to change the terminal current directory when changing project? For example when I am in project A and switch to project B, exit neovim. Terminal should be in project B folder.

Thanks!

[2022-09-04 19:54] AntoscencoVladimir commented on #100
Hello you have to create a project **(in select project popup)** by <C-a> and then choose the project by <C-l>

[2022-09-04 19:59] AntoscencoVladimir commented on #109
Hello @calvinchoy, in what see there is no such functionality, it only change the current dir of vim shell. To do what you need the plugin should interact with terminal where you running vim thought.

[2022-09-04 20:19] AntoscencoVladimir commented on #108
Hello @ckilb to add default projects your config of telescope should be like this

`telescope.setup {
  defaults = {
    path_display = { "smart" },
  },
  extensions = {
    project = {
      base_dirs = {
        '~/path/to/your/project/',
        '~/path/to/your/project2/',
      }
    },
  },
}

telescope.load_extension('project')
`

Also you can add new projects by  Ctrl + a (within your proj

[2022-09-05 04:16] calvinchoy commented on #109
Thanks Vladimir,

I am using the kitty terminal, I will try to use autocommands in neovim to interact with the terminal.
On 4 Sep 2022, 21:59 +0200, Vladimir ***@***.***>, wrote:

[2022-09-05 13:52] AntoscencoVladimir commented on #109
@calvinchoy I using kitty too + zsh, I'm not sure about kitty terminal itself even there are sessions feature in it, most likely it related to bash or zsh (in my case).
When project changed we need tell to bash that we changed directory somehow from vim, like last-workindg-dir plugin from oh-my-zsh in that case it write directory path in file and then read it from there on each new instance of ope

[2022-09-05 14:06] calvinchoy commented on #109
I agree with you that this shouldn’t be the plugin responsibility. So this issue can be closed.

For my specific scenario I want the tab title of kitty to reflect the current working directory. I think this can be achieved by autocommands and using kitty @ set-tab-title command.
On 5 Sep 2022, 15:52 +0200, Vladimir ***@***.***>, wrote:

[2022-09-07 19:17] #109 closed

[2022-09-09 04:53] tiagovla opened #111 "Error update_focused_file"
Last commit b991a2ac482a31b9de7ca6b49d050b2076c1f96e introduced this error:
[code]

This happens when nvimtree is closed and does not happen when nvimtree is open.

[2022-09-13 08:14] lijinglin3 commented on #111
Is `nvim-tree.lua` the latest version? I didn't encounter this problem.

[2022-09-13 08:19] lijinglin3 opened #113 "There is always a [No Name] buffer after opening the project"
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/19161222/189848953-b41768bc-ad10-4f8a-af4c-969f87272743.png">

The cursor focus on nvimtree after nvimtree.open(), and then opening the file will create a new buffer instead of using [No Name] buffer.

[2022-09-13 12:35] #113 closed

[2022-09-14 13:47] alerque commented on #100
I believe this issue can be closed. Opening a project without opening a file can be done with <kbd>Ctrl</kbd>+<kbd>l</kbd>. The README has info on how to change the bindings for this.

[2022-09-14 13:49] alerque commented on #85
I am unable to replicate this. Launching neovim like that works just fine for me and the file picker comes up and works fine after I pick a project.

Neovim 0.7.2 here, current HEAD of telescope and telescope.project.

[2022-09-14 14:00] alerque commented on #60
This bit already exists, see `<C-l>` when selecting a project.

As for the other issue, if you use Git for your projects you might find Telescope's builtin for git-files more useful than the regular file finder, and it is scoped to the project root.

[2022-09-14 19:06] #100 closed

[2022-09-15 21:01] adelarsq commented on #111
I can't reproduce the bug. It's working for me in the latest versions.

[2022-09-15 23:01] tiagovla commented on #111
I will debug it later.

[2022-09-19 14:22] finalclass commented on #108
i have a project with git initialized however when I open telescope project and then tap Ctrl + a, nothing happens.

[2022-09-19 15:57] finalclass commented on #108
I think the problem might be related to something else.
I noticed that when I do telescope function `builtin.git_files` I get this error:

![image](https://user-images.githubusercontent.com/1343930/191060659-82c62e67-cecb-48c3-9d4b-327ddae883e5.png)

I get this error in every git project I have except one. I have no idea what I did that it's broken but I'm pretty sure this is connected to the issu

[2022-09-19 16:13] AntoscencoVladimir commented on #108
@finalclass can you send your telescope config? I will try to reproduce, and you are right it looks like it's something with telescope at least according to the logs you sent

[2022-09-19 16:16] finalclass commented on #108
I load telescope with Packer:

[code]

Where keymap.lua is:

[code]

Should I have autochdir on?

[2022-09-19 16:32] finalclass commented on #108
The problem most probably is because of my wrong assumption, that is: I assume that project is added based on a file I'm currently editing and not based on my working dir. When I open vim in a specific project (in a specific directory of the project) then it works fine. When I move out from this directory to some file from a different project then it stops working.

I'm sorry I come from an emacs

[2022-09-25 15:59] calvinchoy opened #116 "Disable nvimtree and file browser on project switch"
Currently when I switch to another project, nvim-tree and the telescope file browser is being shown automatically.

Is it possible to disable this behavior?

[2022-09-27 19:58] AntoscencoVladimir commented on #116
@calvinchoy why? The idea was to switch project also in `nvim-tree` to simulate kinda another text editors functionality. Can you explain what exactly do you expect when switch project?

[2022-09-30 15:44] calvinchoy commented on #116
@AntoscencoVladimir well I guess it is more of a preference thing. I totally understand that some people want to have the nvim-tree and telescope visible when they switch the project.

In my case for example I find it unnecessary to toggle on nvim-tree visible if I have hidden for example, so switching a new project I have to hide the nvim-tree again. Also the telescope file picker is also open at

[2022-09-30 16:44] AntoscencoVladimir commented on #116
@calvinchoy ok, clear I will do that optional (if my PR will be merged) and also will check vim notify

[2022-10-01 21:01] AntoscencoVladimir commented on #116
@calvinchoy here it is https://github.com/nvim-telescope/telescope-project.nvim/pull/117 by default **false**

[2022-10-01 21:03] AntoscencoVladimir commented on #111
@tiagovla try reinstall plugin

[2022-10-01 21:37] tiagovla commented on #111
Sorry, I forgot to update this. The problem was that I'm lazyloading `nvim-tree` and this plugin calls it before it is loaded.

[2022-10-01 21:40] tiagovla commented on #111
I'm really not sure why opening `nvim-tree` is the default behavior. A better solution IMO would be to emit an event and let the user decide if he wants to do something about it instead of introducing dependencies or forcing anything.

[2022-10-02 06:06] claidler commented on #111
@tiagovla agreed. If you would like to submit a PR to fix this I'd be happy to approve

[2022-10-02 07:47] calvinchoy commented on #116
Thanks a lot, works great!

[2022-10-02 07:47] #116 closed

[2022-10-02 10:23] AntoscencoVladimir commented on #111
It's done optional for the moment in latest PR

[2022-11-05 16:19] zwhitchcox opened #119 "Add ability to change default action"
It would be good if I could change the default action to `change_working_directory()` or an arbitrary function that I give it. I really don't want the file picker ever, because I'd rather just see the `nvim-tree`, because it lets me familiarize myself with the directory structure, and also I'd like it to open the most recent session.

Also, the keyboard shortcuts don't work, because telescope make

[2022-11-06 22:41] raph90 opened #120 "How do you use the 'add_project_cwd' action"
Hi, sorry if this is a n00b question. I'm trying to add a project that doesn't have .git at the root (I'm in a monorepo). I saw that a PR was merged for exactly this, using an action: `add_project_cwd()`.

My question is how can I use this? I'd like to be able to map it to the default 'c' for add project, but I can't work out how to do the remapping in my telescope config.

[2022-11-07 09:57] raph90 commented on #120
The answer is to use 'C' instead of 'c' in the projects menu (in normal mode). Closing this - many thanks for the awesome plugin.

[2022-11-07 09:57] #120 closed

[2022-11-08 13:37] TonyWu20 commented on #105
The pr has been merged.

[2022-11-08 13:37] #105 closed

[2022-11-24 20:26] gerryhernandez commented on #119
I want this, too. I threw together a PR (#121) and could use feedback and help with testing. Quick copy/paste for anyone who's willing to help (assuming you're using Packer for package management):

[code]
Thanks!